# For Local SQLite (Default)
DB_TYPE=sqlite

# For Cloud MySQL (Once deployed)
# DB_TYPE=mysql
# DB_HOST=your-database-host.com
# DB_USER=your_username
# DB_PASS=your_strong_password
# DB_NAME=neurosales_db
# DB_PORT=3306

# Groq API (Assistant Brain)
GROQ_API_KEY=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
